header{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 170px;
    font-family: Arial, sans-serif;  
    color: #ffffff;
    stroke: #4a9eec;
    text-shadow: #57a4ec 0px 0px 15px;
    font-size: 27px;
    transition: ease 0.5s ;
}
header:hover{
    text-shadow: #57a4ec 0px 0px 30px;
    transition: all 0.5s ;
    transform:scale(1.1); ;
}
  
body{
    background-image: linear-gradient(to bottom left, #000107, #3a3c41);
    min-height: 100vh;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

nav{
    position: absolute;
    top: 0;
    width: 100%;
    margin-bottom: 10px;
    background-color: #505253;
    padding: 5px;
    gap: 5px;
}

nav li{
    list-style: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    display: inline-block;
    margin-right: 5px;
    color: #ffffff;
    background-color: #5c6063;
    border-radius: 3px;
    padding: 15px;
}

nav li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 5px;
}

nav li:hover{
    background-color: #4a9eec;
    box-shadow: #57a4ec 0px 0px 10px;
    transition: 0.9s;
    cursor: pointer;
}

.dropdown-menu{ /* Estiliza o menu dropdown */
    position: absolute;
    top : 79px;
    left: 45px;
    background-color: #f9f9f9;
    min-width: 50px;
    border-radius: 3px;
    display: none;
}
.dropdown-menu a{ /* Estiliza os links dentro do menu dropdown */
    display: block;
    color: black;
    font-size: medium;
    padding: 10px 18px 15px;
    text-decoration: none;
}

.dropdown:hover  .dropdown-menu{
    display: block;
}

.dropdown-menu a:hover{
    background-color: #4a9eec;
    transition: all 0.5s;
}


.dropdown-menu2{ /* Estiliza o menu dropdown */
    position: absolute;
    top : 78px;
    left: 174px;
    background-color: #f9f9f9;
    min-width: 50px;
    border-radius: 3px;
    display: none;
}
.dropdown-menu2 a{ /* Estiliza os links dentro do menu dropdown */
    display: block;
    color: black;
    font-size: medium;
    padding: 10px 18px 15px;
    text-decoration: none;
}

.dropdown:hover  .dropdown-menu2{
    display: block;
}

.dropdown-menu2 a:hover{
    background-color: #4a9eec;
    transition: all 0.5s;
}


input[type="range"] {
    appearance: none;
    width: 120px;
    height: 8px;
    border-radius: 5px;
    background: #ffffff;
    outline: none;
    opacity: 100%;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #5ccbff;
    cursor: pointer;
    -webkit-appearance: none;
}